*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
nav{
    width: 100vw;
    height: 8vh;
    background-color: transparent;
    position: fixed;
    z-index: 999;
    transition: 1s;
    
}
.nav-scroll{
    width: 98vw;
    height: 9vh;
    background-color: rgba(122, 122, 122, 0.681);
    position: absolute;
    position: fixed;
    justify-content: space-around;
}
.side-nav{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 20px;
    float: right;
    transition: 1s;
}
.side-nav img{
    width: 35px;
    padding-top: 8px;
    transition: 0.5s;
}
.side-nav img:hover{
width: 45px;
}
.logo img{
    width: 60px;
    float: left;
    padding-top: 8px

}

.frame{
    width: 100vw;
    height: 100vh;
    background-color: rgb(187, 185, 183);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginpara{
    width: 50%;
    height: 50%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
input,button{
    margin: 10px 0px;
    padding: 5px 5px;
}