*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
nav{
    width: 100vw;
    height: 8vh;
    background-color: transparent;
    position: fixed;
    z-index: 999;
    transition: 1s;
    
}
.nav-scroll{
    width: 98vw;
    height: 9vh;
    background-color: rgba(122, 122, 122, 0.681);
    position: fixed;
    justify-content: space-around;
}
.side-nav{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 20px;
    float: right;
    transition: 1s;
}
.side-nav img{
    width: 35px;
    padding-top: 8px;
    transition: 0.5s;
}
.side-nav img:hover{
width: 45px;
}
.logo img{
    width: 60px;
    float: left;
    padding-top: 8px

}
.products-section{
    width: 100vw;
    height: 200vh;
    display: flex;
    align-items: center;
    padding-top: 100px;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}
.pro-inf{
    width: 15%;
    height: 20%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    overflow:scroll;
    scroll-behavior: smooth;
    
}
.pro-inf img{
    height: 50%;
}